@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 50px;
}

.magic {
    background-color: #663399;
    color: white;
    font-family: 'Combo', cursive;
    border: 0;
    border-radius: 3px;
    font-size: 1.5em;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px #d291bc;
    z-index: 100;
    margin-bottom: 50px;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
    background-image: url(https://media.giphy.com/media/11sBLVxNs7v6WA/giphy.gif);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.4s ease;
}

.box::after {
    content: '';
    background-color: #fff997;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #fcdd6b;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}