@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 2px solid skyblue;
}

.toolbox {
    background-color: skyblue;
    border: 1px solid lavender;
    display: flex;
    width: 805px;
    padding: 1rem;
}

.toolbox > * {
    background-color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;
}

.toolbox > * :last-child {
    margin-left: auto;
}

button#clear {
    position: absolute;
    right: 375px;
}